header.header
    .header__navbar.d-flex.align-items-center
        .header__navbar_back
        .container
            .row
                .col-xl
                .col.col-xl-10
                    ul.nav.justify-content-between.align-items-center
                        li.nav-item
                            a(href="#").nav-link RATES &amp; RENTALS
                        li.nav-item
                            a(href="#").nav-link RELEASE FORM
                        li.nav-item
                            a(href="#").nav-link
                                .logo
                                    img(src="img/logo.png", alt="Norm's Marina").logo__img
                        li.nav-item
                            a(href="#").nav-link REVIEWS
                        li.nav-item
                            a(href="#").nav-link ABOUT
                        li.nav-item
                            a(href="#").nav-link CONTACT
                .col-xl