main.main
    .main__mScreen.d-flex.align-items-center
        .main__topBtn.d-flex.justify-content-center.align-items-end
            a(href="#").button.button_back_bl.button_padding_xl.button_radius_tp.button_font_xl Book Online
        .container
            .row
                .col.d-flex.align-items-center
                    a(href="#").arrowBtn.arrowBtn_prev
                .col-xl-10
                    h1.caption.caption_size_xl.caption_color_wh.text-center Kayaks &amp; Canoes Rentals
                    h2.caption.caption_color_wh.text-center Norm's Marina — Full Service Marina in Hinsdale
                .col.d-flex.align-items-center
                    a(href="#").arrowBtn.arrowBtn_next
    .main__mScreen_back
        #mainSlider.main__mScreen_back_wrap.owl-carousel.owl-theme
            .main__mScreen_back_item
                img(src="img/image-02.jpg").img-fluid
            .main__mScreen_back_item
                img(src="img/image-01.jpg").img-fluid
    .main__wrap
        .main__top
            .container
                .row
                    .col-xl  
                    .col.col-xl-4.d-flex.justify-content-around.p-3
                        p.main__text.main__text_color_or.m-0 RESERVATION
                        .icon.icon_size_md.text-hide(style="background-image:url('img/paddle.svg');")
                        a(href="tel:6032566266").main__text.main__text_color_or 603 256 6266
                    .col-xl
        .rentKayak
            .container
                .row
                    .col-md
                    .col-md-10.text-center
                        h2.caption.caption_size_md.caption_padding_xl Rent A Kayak <span class="caption_color_bl"> Or A Canoe</span>
                        p.main__description.main__description_color_gr.pt-1 Miles and miles of the best kayaks and canoes on Connecticut river. <br> Come for a  day, week, month or the whole season, flexible availability and deals.
                    .col-md