$basicWhite:#ffffff;
$basicBlack:#000000;
$basicBlue:rgba(49, 182, 232, 1);
$basicGrey:rgba(149, 149, 149, 1);
$wave1a:rgba(49, 182, 232, .75);
$wave1b:rgba(16, 118, 157, .75);
$textShadow:rgba(0,0,0,.25);
$backMainScreen:rgba(255, 102, 63, 0.1);
$basicOrange:rgba(255, 102, 63, 1);